<ion-view title="Settings">
  <ion-content class="padding">
    <div ng-controller="SettingsCtrl">
      <div class="card">
        <div class="item item-text-wrap">
          Warning: Changing these settings will restart any game already in progress
        </div>
      </div>
      <div class="settings-item-title settings-number-digits">
        Number of digits
      </div>
      <div class="range">
        1
        <input type="range" name="volume" min="1" max="7" value="4" ng-model="data.digit">
        7
      </div>
      <p class="settings-number-sentence">
        {{data.digit + ": " + sentence}}
      </p>
      <ul class="list">
        <li class="item item-toggle setting-repeat-numbers">
          <div class="settings-item-title">
            Repeat numbers
          </div>
          <label class="toggle toggle-assertive">
            <input type="checkbox" ng-model="data.repeat">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
      </ul>
      <p class="settings-number-sentence">
        {{repeat}}
      </p>
      <ul class="list">
        <li class="item item-toggle setting-repeat-numbers">
          <div class="settings-item-title">
            Show timer
          </div>
          <label class="toggle toggle-assertive">
            <input type="checkbox" ng-model="data.timer">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
      </ul>
      <p class="settings-number-sentence">
        {{timer}}
      </p>
    </div>
  </ion-content>
</ion-view>
