<ion-view title="Settings">
  <ion-content class="padding">
    <div class="card">
      <div class="item item-text-wrap">
        Warning: Changing these settings will restart any game already in progress
      </div>
    </div>
    <div class="settings-item-title settings-number-digits">
      Number of digits
    </div>
    <div class="range">
      1
      <input type="range" name="volume" min="1" max="7" value="4" ng-model="data.digit">
      7
    </div>
    <p class="settings-number-sentence">
      {{data.digit + ": " + sentence}}
    </p>
    <ul class="list">
      <li class="item item-toggle setting-repeat-numbers">
        <div class="settings-item-title">
          Repeat numbers
        </div>
        <label class="toggle toggle-assertive">
          <input type="checkbox" ng-model="data.repeat">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
    </ul>
    <p class="settings-number-sentence">
      {{repeat}}
    </p>
    <div class="settings-item-title settings-number-digits">
      Username
    </div>
    <div class="list">
      <div class="item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Default: Shy person" ng-model="username">
        </label>
        <button class="button button-small button-positive" ng-click="submitUsername(username)">
          Submit
        </button>
      </div>
    </div>
    <p class="settings-number-sentence">
      This is to keep track of high scores. If you leave it blank your username will show up as "Shy person" on the global scoreboard.
    </p>
  </ion-content>
</ion-view>
