/* Empty. Add your own CSS if you like */
.attempt-digit-holder {
  text-align: center;
}

.change-number {
  font-size: 50px;
  cursor: pointer;
}

.change-number.greyout{
  color: lightgrey;
}

.attempt-digit {
  font-size: 30px;
}

.buttons-holder {
  text-align: center;
}

.guess-button {
  width: 33%;
  margin: 10px 0px;
}

.give-up-button {
  font-style: italic;
  margin-top: 10px;
  color: red;
}

.attempts-header-row {
  font-weight: bold;
}

.settings-item-title {
  font-size: 16px;
  font-weight: bold;
}

.setting-repeat-numbers {
  border: none;
  margin-top: 10px;
}

.settings-number-digits, .settings-number-sentence {
  margin: 25px 15px 15px 15px;
}

.bottom-of-play {
  text-align: center;
}

.game-answer {
  font-weight: bold;
}

.game-details {
  /*font-style: italic;*/
  font-size: 14px;
  color: grey;
}

.explain-score {
  margin: 10px 20px;
}