/* Empty. Add your own CSS if you like */
.top-of-play {
  /*position: fixed;*/
}

.top-number-input {
  height: 50px;
}

.top-number-input-button {
  height: 50px;
  width: 50px;
}

.attempts-header-row {
  font-weight: bold;
}

.settings-item-title {
  font-size: 16px;
  font-weight: bold;
}

.setting-repeat-numbers {
  border: none;
  margin-top: 10px;
}

.settings-number-digits, .settings-number-sentence {
  margin: 15px;
}